.myAlert
{
    -fx-background-color: #313131;
}
.myAlert > *.button-bar > *.container
{
    -fx-background-color: #313131;
}
.myAlert > *.label.content
{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
	-fx-text-fill: tomato;
}
.myAlert:header *.header-panel
{
    -fx-background-color: #616161;
}
.myAlert:header *.header-panel *.label
{
    -fx-text-fill: aliceblue;
}
.myAlert > *.button-bar > *.container .button
{
    -fx-background-color: tomato;
	-fx-background-radius: 12;
	-fx-border-color: orangered;
	-fx-border-radius: 10;
	-fx-text-fill: aliceblue;
	-fx-background-insets: 0 0 0 0, 0, 0, 0;
}
.myAlert > *.button-bar > *.container .button:hover
{
	-fx-background-color: #FF8670;
}
.myAlert > *.button-bar > *.container .button:armed
{
	-fx-background-color: #F25A3F;
}
.text-field
{
	-fx-font-family: Segoe UI, sans-serif;
	-fx-text-fill: tomato;
	-fx-background-color: #616161;
	-fx-background-radius: 15;
	-fx-border-color: crimson crimson crimson crimson;
	-fx-border-radius: 15;
}