.root
{
	
}
.menu-bar
{
	-fx-background-color: linear-gradient(to bottom, #FA4C2D, #C43939);
}
.menu:hover
{
	-fx-background-color: saddlebrown;
}
.menu-bar .container .menu:openvertically .label
{
	-fx-text-fill: aliceblue;
}
.menu:focused:showing, .menu:hover:showing, .menu:focused, .menu:showing 
{
    -fx-background-color: saddlebrown;
}
.context-menu 
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #595959;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}
.menu-item
{
	-fx-background-color: #595959;
}
.menu-item:focused
{
	-fx-background-color: firebrick;
}
.split-pane
{
	-fx-background-color: #383838;
}
.tab-pane:top .tab-header-area .tab-header-background
{
	-fx-background-color: linear-gradient(to bottom, #C43939, #AB2727);
}
.tab:top
{
	-fx-background-color: linear-gradient(to bottom, saddlebrown, tomato);
}
.tab:top .tab-container .tab-label
{
	-fx-text-fill: aliceblue;
}
.list-view 
{
	-fx-background-color: #383838;
	-fx-font-size: 12pt;
}
.list-cell
{
	-fx-background-color: #454545;
	-fx-text-fill: #FC804E;
}
.list-view:focused .list-cell:focused
{
	-fx-background-color: tomato, black, firebrick;
	-fx-text-fill: #FFFACD;
}
.list-cell:odd 
{
	-fx-background-color: #696969;
}
.split-pane *.split-pane-divider 
{
	-fx-background-color: #ED3D37;
}
.choice-box
{
	-fx-background-color: #383838;
	-fx-border-color: tomato;
	-fx-border-radius: 12;	
}
.choice-box .label
{
	-fx-text-fill: #FC804E;
}
.choice-box .open-button .arrow
{
	-fx-background-color: crimson;
}
.spinner:focused
{
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}
.spinner .text-field
{
	-fx-text-fill: #FC804E;
	-fx-background-color: #383838;
	-fx-border-color: tomato;
	-fx-border-radius: 12;	
}
.spinner .text-field:disabled
{
	-fx-text-fill: #FC804E;
	-fx-background-color: #383838;
	-fx-border-color: tomato;
	-fx-border-radius: 12;
}
.spinner .increment-arrow-button
{
	-fx-background-color: #383838;
	-fx-border-color: tomato;
	-fx-border-radius: 5;
}
.spinner .increment-arrow-button .increment-arrow
{
	-fx-background-color: crimson;
}
.spinner .decrement-arrow-button
{
	-fx-background-color: #383838;
	-fx-border-color: tomato;
	-fx-border-radius: 5;
}
.spinner .decrement-arrow-button .decrement-arrow
{
	-fx-background-color: crimson;
}
#title_label
{
	-fx-text-fill: lightsalmon;
	-fx-font-family: Segoe UI, sans-serif;
	-fx-font-size: 16pt;
}
#stat_label
{
	-fx-text-fill: tomato;
	-fx-font-family: Segoe UI, sans-serif;
	-fx-font-size: 13pt;
}
#update_button
{
	-fx-background-color: firebrick;
	-fx-background-radius: 10;
	-fx-border-color: black;
	-fx-border-radius: 10;
	-fx-text-fill: aliceblue;
	-fx-background-insets: 0 0 0 0, 0, 0, 0;
}
#update_button:hover
{
	-fx-background-color: tomato;
}
#update_button:armed
{
	-fx-background-color: #A12525;
}
#website_button
{
	-fx-background-color: darkkhaki;
	-fx-background-radius: 10;
	-fx-border-color: darkslategray;
	-fx-border-radius: 10;
	-fx-text-fill: black;
	-fx-background-insets: 0 0 0 0, 0, 0, 0;
}
#website_button:hover
{
	-fx-background-color: khaki;
}
#website_button:armed
{
	-fx-background-color: #A6A05B;
}